<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>

<body>
  <!-- Nav -->
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    OOPS, Page Not Found !:)
  </div>

  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>
</body>

</html>