<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include("./partials/head.ejs") %>

<body>

  <!-- Nav -->
  <%- include("./partials/nav.ejs")  %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Pembuatan menggunakan expressJs dan berdasarkan tutorial youtube <a
        href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg">The Net Ninja</a> </p>

  </div>

  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>
</body>

</html>